body{
    margin:0;
    padding:0;
    background-color:#aaaaaa;
    box-sizing: border-box;
}

header{
    position:fixed;
    background-color: #383838;
    top:0px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header .page-name{
    font-size: 2rem;
    color:white;
    margin: 1rem;
}

header .navbar ul{
    position:relative;
    list-style: none;
}

header .navbar ul li{
    float:left;
    
}

header .navbar ul li a{
    font-size: 1.25rem;
    padding: 20px;
    color:white;
    display: block;
    text-decoration: none;
}

.navbar ul li a:hover{
    text-decoration: underline;
}

.dropdown{
    position:absolute;
    left:0;
    width:200px;
    background:#383838;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:40px;
    max-width: 60%;
    margin:auto;
    margin-top:100px;
    margin-bottom: 0;
    background-color: white;
    align-items:center;
}

.flex-container img {
    height: 300px;
    margin:10px;
}

.flex-container div {
    height: 250px;
    width: 400px;
    color:black;
    margin:10px;
}

.flex-container div h1{
    margin:0;
    font-size: 40px;
}

.flex-container div p{
    font-size: 20px;
}

footer{
    margin-left: 230px;
}